* {
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    * {
        max-width: 2000px;

        .S718d8e {
            color: #2abec4;
        }
    }
}

.header {
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 70px;
    max-height: 200px;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &--body {
        position: relative;
        width: 95%;
        height: 100%;

        .backgroung {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: clamp(24px, 5vw, 70px);
            background-color: rgba(51, 51, 51, 0.9);
            backdrop-filter: blur(5px);
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            padding: 0px 30px;

            @media (max-width: 300px) {
                justify-content: center;

                a {
                    display: none;
                }
            }

            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            p {
                font-weight: 400;
                color: #fff;
                font-size: clamp(20px, 5vw, 30px);
            }

            a {
                font-weight: 200;
                text-decoration: none;
                color: #00e1ff;
                font-size: clamp(16px, 5vw, 26px);

                &:hover {
                    font-weight: 500;
                    color: #20b5c9;
                }
            }
        }
    }
}

.main {
    width: 100%;
    min-height: 400px;
    max-height: 900px;
    max-width: 500px;
    display: flex;
    justify-content: center;

    &--body {
        height: 100%;
        width: 95%;
        border-radius: clamp(24px, 5vw, 40px);
        background-color: #333;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: #fff;

        &--title {
            h1 {
                font-size: clamp(24px, 5vw, 24px);
                margin: 5px;
            }
        }

        &--content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: clamp(14px, 5vw, 20px);
            margin: 5px;

            button {
                height: 50px;
                width: 200px;
                background-color: #fff;
                border-radius: 20px;
                border: 2px solid rgba(255, 255, 255, 0.4);
                box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
                font-weight: 700;

                &:hover {
                    font-weight: 900;
                    cursor: pointer;
                    color: #fff;
                    background-color: #000;
                    border: 2px solid rgba(0, 0, 0, 0.4);
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}